<div class="navbar-fixed-bottom tab-div bottom-navbar hidden-sm hidden-lg hidden-xl">

  <div class="padding">
<div class="col-xs-2 tab-section">
  <center>
    <a href="/" class="as-is">🏠</a>
  </center>
</div>
<div class="col-xs-2 tab-section">
  <center>
    <a href="/u" class="as-is">🔍</i></a>
  </center>
</div>
<div class="col-xs-2 tab-section">
  <center>
    <a href="/me/upload" class="as-is">🗂</a>
  </center>
</div>
<div class="col-xs-2 tab-section">
  <center>
  <a href="/me/activity" class="as-is"><span>🔔<sup><i class="badge" id="activity"></i></sup></span></a>
  </center>
</div>
<div class="col-xs-2 tab-section">
  <center>
  <a href="/me" class="as-is">👱🏻</a>
  </center>
</div>
</div>
</div>
